.navbar-collapse {
    flex-grow: 0 !important;
}
.nav_link{
    border-radius: 3px;
    padding-right: 10px !important;
    margin: 5px;
    color: #2273ff !important;
}
.nav_link:hover{
    color: white !important;
    background-color:  #2273ff !important;
}
.logo-right{
    color: #2273ff;
    
}

.dream{

    font-size: x-large;
        font-weight: bolder;
}

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  